.profile-user {
  display: grid;
  grid-template-columns: 30% 1fr;
}

.user-info {
  background-color: rgb(32, 32, 32);
}

.user-info img {
  border-radius: 50%;
  height: 350px;
  width: 350px;
  background-color: #fff;
  margin: 15% 0 15% 20%;
}

.user-info-base p {
  color: #fff;
  font-size: 20px;
  margin-left: 100px;
  padding: 10px;
}

.user-post {
  background-color: rgb(255, 255, 255);
}

.user-info-num {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5% 20% 10% 20%;
  align-items: center;
  justify-items: center;
}

.user-info-num p {
  padding: 5px;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.user-posts {
  border: #fff solid 2px;
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin: 70px;
  height: 65%;
}

/* #FFF5EE */
.posts-container {
  border: solid 2px rgb(32, 32, 32);
  background-color: rgb(32, 32, 32);
  padding: 50px 20px 50px 20px;
  width: 100%;
  height: 700px;
}

.posts-container h2 {
  color: #fff;
  padding-bottom: 50px;
  margin-left: 30px;
}

.posts-space {
  border: solid 2px #ffffff;
  border-radius: 20px;
  margin: 20px 30px 20px 30px;
  display: grid;
  grid-template-columns: 1fr 5%;
  transition: 0.3s ease-in;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 10px;
  background-color: #ffffff;
}

.posts-space a {
  text-decoration: none;
}

.posts-space img {
  border-radius: 20px;
  /* width: 90%; */
  height: 100%;
  width: 90%;
  margin: 0px auto;
}

.posts-space h3 {
  font-size: 1.5rem;
  color: #ffffff;
}

.posts-space p {
  font-size: 0.8rem;
  color: #ffffff;
}

.posts-container h2 {
  color: rgb(255, 255, 255);
}

.posts-space:hover {
  transform: scale(1.020);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.link-count {
  text-align: center;
}

.link-count p {
  color: black;
  font-size: 20px;
}

/* tabs colors */
.nav-link {
  --bs-nav-link-color: #ffffff;
  --bs-nav-link-hover-color: #121212;
}

.table {
  background-color: #fff;
}

.delete-button {
  width: 100px;
  height: 40px;
  background-color: rgb(255, 0, 0);
  text-decoration: none;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 15px;
  color: #fff;
  font-size: 15px;
}

.button-edit {
  margin-left: 80%;
  margin-right: 10%;
  font-size: 25px;
  opacity: 0.1;
}

.button-edit i {
  color: #fff;
}

.button-edit:hover {
  opacity: 1;
}