.hero-japanese {
  background: linear-gradient(to right, #161616, #000000);
  background-image: url("../../../assets/baka/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 90%;
  text-align: center;
}

.hero-imag {
  margin-bottom: 70px;
  padding: 40px;
}

.hero-heading {
  margin-top: 20%;
  font-size: 50px;
  color: #fff;
}

.hero-description {
  font-size: 30px;
  margin-bottom: 2%;
  color: #fff;
  margin-bottom: 5%;
}

.title h2 {
  text-align: center;
  padding-top: 40px;
  font-size: 3rem;
}

.tabs-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.tabs-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.box-items {
  margin: 10px;
  height: 200px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2e2c2c;
  background-size: cover;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-image: url('../../../assets/JLPT/jlptN1.jpg');
}

.tabs-wrapper h1 {
  font-size: 30px;
  color: #fff;
  background-color: #00000042;
  height: 70px;
  padding-top: 15px;
}

.box-items:hover {
  color: #2e2c2c;
}

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.tabs-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.box-text {
  margin: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  background-size: cover;
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .hero-heading {
    margin-top: 40%;
    font-size: 40px;
  }

  .hero-description {
    font-size: 20px;
  }
}