nav {
  background-color: #131313;
}

.bread-itens-jlpt {
  padding: 35px 0 10px 40px;
}

.bread-itens-jlpt a {
  color: #fff;
  text-decoration: none;
}

.bread-itens-jlpt a:hover {
  color: #fff;
}

.background {
  background-image: linear-gradient(to right, #ffffffef, #ffffffe5), url('../../../../assets/baka/background2\ -\ Black.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;
}

.config-text h3 {
  padding-top: 40px;
  font-size: 25px;
  color: #444343;
  margin: 0 30px 0 30px;
  padding-bottom: 15px;
}

.config-text a {
  text-decoration: none;
  color: #535050;
}

.config-text a:hover {
  color: #c2cbd0;
}

.jlpt-home {
  padding: 100px 100px;
  margin: 0 100px 0 100px;
  display: grid;
  grid-template-columns: 60% 1fr;
}

.jlpt-home iframe {
  margin-top: 30px;
}

.jlpt-btn-categories {
  text-align: center;
  padding: 20px;
}

.jlpt-btn-categories a {
  padding: 20px;
}

.jlpt-btn-categories Button {
  padding: 15px;
  font-size: 20px;
}

.jlpt-home-img {
  font-size: 4rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #fff;
  background-color: #131313;
  background-repeat: no-repeat;
  background-size: cover;
  height: 185px;
}

.jlpt-home-img h1 {
  font-size: 4rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.jlpt-home h2 {
  color: #000000;
  font-size: 40px;
  padding-bottom: 10px;
}

.jlpt-home p {
  color: #000000;
  font-size: 20px;
}

.p-center {
  text-align: center;
  margin-bottom: 50px;
}

.jlpt-home a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

.jlpt-home a:hover {
  color: #535050;
}

.table-jlpt {
  padding: 0 300px 30px 300px;
}

.jlptlist-content {
  color: #000000;
  text-align: center;
  margin: 150px 400px 0px 400px;
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-top: 50px;
  margin: 0 300px 0 300px;
}

.tabs-config {
  font-size: 20px;
  padding: 2rem 2rem;
  border: .5rem solid rgb(255, 255, 255);
  box-shadow: 0 0 1rem #c2cbd0;
  border-radius: 5px;
  height: 350px;
  width: 600px;
  background-color: #fff;
}

.video-gird {
  margin: 100px 500px 0 500px;
}